body {
    background: black;
}

input {
    display: block;
    margin: 5px;
    padding: 6px 9px;
    background: transparent;
    color: greenyellow;
    border: none;
    border-bottom: 1px solid greenyellow;
    border-radius: 5px;
}