/* Permite crear un nuevo valor para una propiedad */
/* Fina */
@font-face {
    font-family: "Montserrat";
    /* Se especifica el tipo para que la carga sea más rápida */
    src: url("./fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

/* Normal */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

/* Negrita */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}

/* Muy negrita */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

/* Super negrita */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}